@import url('https://fonts.googleapis.com/css?family=Montserrat:900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

body{
    background: url("backgroundnih.png");
    background-size: 100%;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 36pt;
    text-align: center;
    color:black;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 40%;
    margin-right: 40%;
    padding: 1%;
    border: 4pt solid black;
    position: relative;
    z-index: 2
}


img {
    border-radius: 50%;
    max-width: 25%;
    height: auto;
}

.foto {
    text-align: center;
    size: 20%;
}

.konten {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 3%;
    margin-bottom: 2%;
    padding: 2%;
    background-color: cornsilk;
}

.konten p {
    text-align: center;
    margin: 2%;
    font-family: 'Work Sans', sans-serif;
    font-size: 12pt;
    opacity: 100%;
    font-weight: bold;
}