{% load static %}

<!DOCTYPE html>
<html lang="en">

    <head>
        <title>PPW Perdana</title>
        <link rel="stylesheet" href="{% static 'css/index_lab1.css' %}">
        <link rel="icon" href="{% static 'images/fries.png' %}">
    </head>

    <body style= "background-image: url({% static 'images/backgroundnih.png' %})">
        <h1>PROFILE</h1>
        <div class="foto">
                <img src="{% static 'images/IMG_6725.JPG' %}"
     alt="fotoku">
        </div>

        <div class="konten">
            <p>Nama             : Alvia Dibby S.</p>
            <p>NPM              : 1806191004</p>
            <p>Angkatan         : 2018</p>
            <p>Hobi             : Membuat orang senang</p>
            <p>Tentang saya     : Aku suka banget ppw wowowow</p>
            <p>Tempat Kuliah    : Universitas Indonesia</p>
            </div>

    </body>

</html>